@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Louis George Cafe";
  src: url("../font/LouisGeorgeCafe-Bold.eot");
  src: url("../font/LouisGeorgeCafe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafe-Bold.woff2") format("woff2"), url("../font/LouisGeorgeCafe-Bold.woff") format("woff"), url("../font/LouisGeorgeCafe-Bold.ttf") format("truetype"), url("../font/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url("../font/LouisGeorgeCafe.eot");
  src: url("../font/LouisGeorgeCafe.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafe.woff2") format("woff2"), url("../font/LouisGeorgeCafe.woff") format("woff"), url("../font/LouisGeorgeCafe.ttf") format("truetype"), url("../font/LouisGeorgeCafe.svg#LouisGeorgeCafe") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url("../font/LouisGeorgeCafeLight.eot");
  src: url("../font/LouisGeorgeCafeLight.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafeLight.woff2") format("woff2"), url("../font/LouisGeorgeCafeLight.woff") format("woff"), url("../font/LouisGeorgeCafeLight.ttf") format("truetype"), url("../font/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iconfont";
  src: url("../icon-font/iconfont.eot?71890918");
  src: url("../icon-font/iconfont.eot?71890918#iefix") format("embedded-opentype"), url("../icon-font/iconfont.woff2?71890918") format("woff2"), url("../icon-font/iconfont.woff?71890918") format("woff"), url("../icon-font/iconfont.ttf?71890918") format("truetype"), url("../icon-font/iconfont.svg?71890918#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?71890918#iconfont') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-right:before {
  content: "\e801";
} /* '' */
.icon-atm:before {
  content: "\e802";
} /* '' */
.icon-back:before {
  content: "\e803";
} /* '' */
.icon-bank:before {
  content: "\e804";
} /* '' */
.icon-block:before {
  content: "\e805";
} /* '' */
.icon-card:before {
  content: "\e806";
} /* '' */
.icon-chart:before {
  content: "\e807";
} /* '' */
.icon-download:before {
  content: "\e808";
} /* '' */
.icon-filter:before {
  content: "\e809";
} /* '' */
.icon-loan:before {
  content: "\e80b";
} /* '' */
.icon-pig:before {
  content: "\e80c";
} /* '' */
.icon-pincode:before {
  content: "\e80d";
} /* '' */
.icon-request:before {
  content: "\e80f";
} /* '' */
.icon-send:before {
  content: "\e811";
} /* '' */
.icon-plus:before {
  content: "\e813";
} /* '' */
.icon-search:before {
  content: "\e814";
} /* '' */
.icon-home:before {
  content: "\e815";
} /* '' */
.icon-3dots:before {
  content: "\e816";
} /* '' */
.icon-settings:before {
  content: "\e817";
} /* '' */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-overflow-scrolling: touch;
}
*:focus {
  outline: 0;
}

body {
  background-color: #202035;
  padding: 50px;
}

.payment-badge {
  color: #ff7e9c;
}
.payment-badge::before {
  background-color: #ff7e9c;
}

.privacy-badge {
  color: #7ea1ff;
}
.privacy-badge::before {
  background-color: #7ea1ff;
}

.api-badge {
  color: #ff7e7e;
}
.api-badge::before {
  background-color: #ff7e7e;
}

.component {
  background-color: #1b1b30;
  border-radius: 10px;
}
.component--help {
  padding: 40px 50px;
  margin-bottom: 25px;
}
.component--help h5 {
  color: #bbbbd7;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 25px;
}
.component--help form {
  width: 100%;
}
.component--help form input {
  width: 100%;
  height: 72px;
  background: #2A2A42 url("data:image/svg+xml,%3Csvg width='28px' height='28px' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.5'%3E%3Cg id='Day-1181-Support-Page-UI-COmponents-Design' transform='translate(-383.000000, -327.000000)'%3E%3Cg id='Group-7' transform='translate(228.000000, 195.000000)'%3E%3Cg id='Group-6' transform='translate(77.000000, 0.000000)'%3E%3Cg id='Group' transform='translate(75.000000, 129.000000)'%3E%3Cpolygon id='Path' points='0 0 34 0 34 34 0 34'%3E%3C/polygon%3E%3Ccircle id='Oval' stroke='%23FFFFFF' stroke-width='2.125' stroke-linecap='round' stroke-linejoin='round' cx='14.1666667' cy='14.1666667' r='9.91666667'%3E%3C/circle%3E%3Cpath d='M29.75,29.75 L21.25,21.25' id='Path' stroke='%23FFFFFF' stroke-width='2.125' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 25px;
  padding: 0 40px 0 75px;
  font-size: 18px;
  border: 1px solid #454564;
  border-radius: 5px;
  color: #fff;
  transition: 200ms border-color ease;
}
.component--help form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.component--help form input:focus {
  border-color: #5a5a82;
}
.component--sidebar {
  width: 307px;
  padding: 30px;
  margin-bottom: 25px;
}
.component--sidebar h6 {
  color: #bbbbd7;
  font-size: 18px;
  margin-bottom: 15px;
}
.component--sidebar nav ul {
  padding: 0;
}
.component--sidebar nav ul li a {
  display: block;
  color: #786cd5;
  font-size: 16px;
  line-height: 31px;
  text-decoration: none;
  transition: 200ms color ease;
}
.component--sidebar nav ul li a:hover {
  color: #fff;
}
.component--sidebar hr {
  background: #141428;
  height: 4px;
  margin: 25px 0;
}
.component--sidebar p {
  color: #bbbbd7;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.component--sidebar .button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #786cd5;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: 200ms background-color ease;
}
.component--sidebar .button:hover {
  background-color: #5444ca;
}
.component--list ul {
  padding: 0;
}
.component--list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.component--list ul li a {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b30;
  padding: 30px;
  text-decoration: none;
  transition: 100ms transform ease-in;
}
.component--list ul li a .inner .title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #bbbbd7;
  margin-bottom: 20px;
}
.component--list ul li a .inner .description {
  color: #bbbbd7;
  font-size: 16px;
  line-height: 20px;
}
.component--list ul li a .category {
  position: relative;
  height: 36px;
  display: inline-flex;
  align-items: center;
  margin-left: 40px;
  padding: 0 18px;
}
.component--list ul li a .category .payment-badge {
  background-color: #ff7e9c;
}
.component--list ul li a .category::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 36px;
  opacity: 0.05;
}
.component--list ul li a:hover {
  transform: scale(1.02);
}/*# sourceMappingURL=style.css.map */