.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.popup .popup-close-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popup .popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #f7f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms background-color;
}
.popup .popup-close:hover {
  background-color: #ececf8;
}
.popup .popup-close img {
  height: 15px;
}
.popup .popup-inner {
  position: relative;
  max-width: 808px;
  padding: 55px 78px;
  background-color: #fff;
  border-radius: 15px;
}
.popup .popup-inner h4 {
  color: #242e4c;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}
.popup .popup-inner ul {
  display: flex;
  list-style: none;
  margin-bottom: 40px;
}
.popup .popup-inner ul li {
  flex: 1;
  text-align: center;
  margin-right: 15px;
}
.popup .popup-inner ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid #ebebf2;
  transition: 200ms border-color ease-in;
}
.popup .popup-inner ul li a:hover {
  border-color: #f775c1;
}
.popup .popup-inner ul li a img {
  height: 35px;
}
.popup .popup-inner h6 {
  font-size: 16px;
  font-weight: bold;
  color: #242e4c;
  margin-bottom: 10px;
}
.popup .popup-inner .actions {
  position: relative;
  display: flex;
  align-items: center;
}
.popup .popup-inner .actions input {
  width: 100%;
  height: 57px;
  color: #242e4c;
  border: 1px solid #ebebf2;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
}
.popup .popup-inner .actions .btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 57px;
  padding: 0 20px;
  line-height: 57px;
  font-size: 14px;
  font-weight: bold;
  color: #f775c1;
}

.popup-open-btn {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f775c1;
  padding: 6px 10px;
  cursor: pointer;
  transition: 200ms background-color ease-in;
}
.popup-open-btn img {
  width: 20px;
  margin-right: 10px;
}
.popup-open-btn span {
  font-size: 17px;
  transition: 200ms padding-left ease-in;
}
.popup-open-btn:hover {
  background-color: #f775c1;
}
.popup-open-btn:hover span {
  color: #fff;
  padding-left: 15px;
}

.popup-toggle {
  display: none;
}
.popup-toggle:checked + .popup {
  opacity: 1;
  visibility: visible;
}

.alert {
  position: fixed;
  width: 170px;
  height: 30px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 50px !important;
  transition: 300ms all;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert.active {
  transform: translate(-50%, 20px);
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */