@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap");
@font-face {
  font-family: "Louis George Cafe";
  src: url("../font/LouisGeorgeCafe-Bold.eot");
  src: url("../font/LouisGeorgeCafe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafe-Bold.woff2") format("woff2"), url("../font/LouisGeorgeCafe-Bold.woff") format("woff"), url("../font/LouisGeorgeCafe-Bold.ttf") format("truetype"), url("../font/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url("../font/LouisGeorgeCafe.eot");
  src: url("../font/LouisGeorgeCafe.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafe.woff2") format("woff2"), url("../font/LouisGeorgeCafe.woff") format("woff"), url("../font/LouisGeorgeCafe.ttf") format("truetype"), url("../font/LouisGeorgeCafe.svg#LouisGeorgeCafe") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Louis George Cafe";
  src: url("../font/LouisGeorgeCafeLight.eot");
  src: url("../font/LouisGeorgeCafeLight.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafeLight.woff2") format("woff2"), url("../font/LouisGeorgeCafeLight.woff") format("woff"), url("../font/LouisGeorgeCafeLight.ttf") format("truetype"), url("../font/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iconfont";
  src: url("../icon-font/iconfont.eot?71890918");
  src: url("../icon-font/iconfont.eot?71890918#iefix") format("embedded-opentype"), url("../icon-font/iconfont.woff2?71890918") format("woff2"), url("../icon-font/iconfont.woff?71890918") format("woff"), url("../icon-font/iconfont.ttf?71890918") format("truetype"), url("../icon-font/iconfont.svg?71890918#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?71890918#iconfont') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-right:before {
  content: "\e801";
} /* '' */
.icon-atm:before {
  content: "\e802";
} /* '' */
.icon-back:before {
  content: "\e803";
} /* '' */
.icon-bank:before {
  content: "\e804";
} /* '' */
.icon-block:before {
  content: "\e805";
} /* '' */
.icon-card:before {
  content: "\e806";
} /* '' */
.icon-chart:before {
  content: "\e807";
} /* '' */
.icon-download:before {
  content: "\e808";
} /* '' */
.icon-filter:before {
  content: "\e809";
} /* '' */
.icon-loan:before {
  content: "\e80b";
} /* '' */
.icon-pig:before {
  content: "\e80c";
} /* '' */
.icon-pincode:before {
  content: "\e80d";
} /* '' */
.icon-request:before {
  content: "\e80f";
} /* '' */
.icon-send:before {
  content: "\e811";
} /* '' */
.icon-plus:before {
  content: "\e813";
} /* '' */
.icon-search:before {
  content: "\e814";
} /* '' */
.icon-home:before {
  content: "\e815";
} /* '' */
.icon-3dots:before {
  content: "\e816";
} /* '' */
.icon-settings:before {
  content: "\e817";
} /* '' */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  -webkit-overflow-scrolling: touch;
}
*:focus {
  outline: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #ebeef2;
}

.wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}
.wrapper .component--prices {
  max-width: 920px;
  margin: 0 auto;
  user-select: none;
}
.wrapper .component--prices .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.wrapper .component--prices .title h3 {
  font-size: 42px;
  font-weight: 900;
}
.wrapper .component--prices .title label {
  position: relative;
  width: 212px;
  height: 50px;
  background-color: #d4d9e0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.wrapper .component--prices .title label::before {
  position: absolute;
  top: 5px;
  right: 5px;
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 15px 13px -12px rgba(134, 147, 164, 0.74);
  z-index: -1;
  transition: 200ms right ease-in-out;
}
.wrapper .component--prices .title label span {
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(23, 25, 34, 0.7);
  transition: 200ms color ease-in-out;
}
.wrapper .component--prices .title label span:nth-child(2) {
  color: #171922;
}
.wrapper .component--prices .packages {
  display: flex;
  margin: 0 -20px;
}
.wrapper .component--prices .packages .package {
  flex: 1;
  background-color: #fff;
  font-weight: bold;
  margin: 0 20px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: 300ms box-shadow ease-in-out;
}
.wrapper .component--prices .packages .package h6 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 35px;
}
.wrapper .component--prices .packages .package .price-info {
  margin-bottom: 30px;
}
.wrapper .component--prices .packages .package .price-info .price {
  font-size: 22px;
  margin-bottom: 10px;
  color: #171922;
}
.wrapper .component--prices .packages .package .price-info .price span::before {
  content: attr(data-yearly-price);
}
.wrapper .component--prices .packages .package .price-info .price-descryption {
  font-size: 18px;
  color: rgba(23, 25, 34, 0.7);
}
.wrapper .component--prices .packages .package .price-info .price-descryption span::before {
  content: attr(data-yearly-text);
}
.wrapper .component--prices .packages .package p {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(23, 25, 34, 0.7);
  margin-bottom: 35px;
}
.wrapper .component--prices .packages .package .button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid #171922;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-top: auto;
  color: #171922;
  text-decoration: none;
  transition: 200ms background-color ease-in-out, 200ms color ease-in-out;
}
.wrapper .component--prices .packages .package:hover {
  box-shadow: 0 19px 50px -20px rgba(134, 147, 164, 0.74);
}
.wrapper .component--prices .packages .package:hover .button {
  background-color: #171922;
  color: #fff;
}
.wrapper .component--prices #price-switch {
  display: none;
}
.wrapper .component--prices #price-switch:checked + .title label::before {
  right: 107px;
}
.wrapper .component--prices #price-switch:checked + .title label span:nth-child(2) {
  color: rgba(23, 25, 34, 0.7);
}
.wrapper .component--prices #price-switch:checked + .title label span:first-child {
  color: #171922;
}
.wrapper .component--prices #price-switch:checked + .title + .packages .package .price-info .price span::before {
  content: attr(data-monthly-price);
}
.wrapper .component--prices #price-switch:checked + .title + .packages .package .price-info .price-descryption span::before {
  content: attr(data-monthly-text);
}/*# sourceMappingURL=style.css.map */